@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
}
body{
	background: #FDF0D5;
	color: #003049;
	font-family: 'Open Sans', sans-serif;
}

.header p{
	font-size: 2em;
	text-align: center;
	padding: 20px 0;
}

.contenedor{
	width: 100%;
	margin: auto;
	font-size: 1em;
	line-height: 300px;
	text-align: center;

}

.contenedor > div{
	display: block;
	padding: 20px;
	color: #f5f6fa;
	box-shadow: 2px 2px 10px rgba(0,0,0,.25)


}
.footer{height: 150px;}

.isologotipo {height: 50px;
background: #780000;border-radius: 10px}
.icono {height: 50px; background: #780000;border-radius: 10px; margin-left: 2px;}
.icono2 {height: 50px; background: #780000;border-radius: 10px;margin-left: 2px;}
.icono3 {height: 50px; background: #780000;border-radius: 10px;margin-left: 2px;}
.icono4{height: 50px; background: #780000;border-radius: 10px;margin-left: 2px;}

.personaje1{height: 100px;background-color: #C1121F;border-radius: 50px;margin-left: 2px; margin-right: 2px;}
.personaje2{height: 100px;background-color: #C1121F;border-radius: 50px;margin-left: 2px; margin-right: 2px;}
.personaje4{height: 100px;background-color: #C1121F;border-radius: 50px;margin-left: 2px; margin-right: 2px;}
.personaje5{height: 100px;background-color: #C1121F;border-radius: 50px;margin-left: 2px; margin-right: 2px;}
.personaje6{height: 100px;background-color: #C1121F;border-radius: 50px;margin-left: 2px; margin-right: 2px;}
.personaje7{height: 100px;background-color: #C1121F;border-radius: 50px;margin-left: 2px; margin-right: 2px;}
.personaje8{height: 100px;background-color: #C1121F;border-radius: 50px;margin-left: 2px; margin-right: 2px;}
.personaje9{height: 100px;background-color: #C1121F;border-radius: 50px;margin-left: 2px; margin-right: 2px;}

.caja7 {background-color: #669BBC;border-radius: 20px;margin-left: 2px; margin-right: 2px;}
.caja6{background-color: #669BBC;border-radius: 20px;margin-left: 2px; margin-right: 2px;}
.caja5{background-color: #669BBC;border-radius: 20px;margin-left: 2px; margin-right: 2px;}
.caja4{background-color: #669BBC;border-radius: 20px;margin-left: 2px; margin-right: 2px;}
.caja3{background-color: #003049;border-radius: 20px; margin-left: 5px; margin-right: 5px;}
.caja2{background-color: #003049;border-radius: 20px;margin-left: 5px; margin-right: 5px;}
.caja{background-color: #003049;border-radius: 20px;margin-left: 5px; margin-right: 5px;}

.footer{background: #780000;}